
.slide{
height:600px;
  max-width: 100%;
  object-fit: cover;
} 

.card{
  width: 250px;
height: 100px;
object-fit: cover;
}

img.card-img-top{
    height: 200px;
    width: auto;
    object-fit: cover;
}

h1{
  margin: 40px 0;
}

